@model TempoMapRepository.Models.ViewModel.MapDisplayViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using TempoMapRepository.Models.Identity
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Map</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>
        <dd class = "col-sm-10">
            <img width="32" src="data:@Model.CoverImageFormat;base64,@Model.CoverImage" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {

        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <span> | </span>
    }
    <a asp-controller="Home" asp-action="Index">Back Index</a>
</div>
